body {
    background-color: #666;
    color: #ddd;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

a, a:visited {
    color: #9EB4CA;
    text-decoration: none;
}

h1, h2, h3 .gallery {
    text-align: center;
}

.gallery:after {
    content: '';
    display: block;
    height: 2px;
    margin: .5em 0 1.4em;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
}

.gallery img {
    height: 100%;
}

.gallery a {
    width: 240px;
    height: 180px;
    display: inline-block;
    overflow: hidden;
    margin: 4px 6px;
    box-shadow: 0 0 4px -1px #000;
}

.baguetteBoxOne {
	/*width:1020px; */
	margin:25px auto 0 auto;
}


.shangchuan button{
        width:80px;
        height:35px;
        background:#6495ED; 
        border-radius:3px;
        margin-top:40px;
        /*margin-left:20px;*/
        box-shadow: 0 0 4px -1px #000;
    }
#logo{
    background:#00B2EE;
}
#logo:hover{
    background:#009ACD;
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
 @media (max-width: 992px) {
    .shangchuan button{
        margin-left:20px;
      }
 }